{
  "extends": [
    "next",
    "plugin:tailwindcss/recommended",
    "plugin:prettier/recommended"
  ],
  "plugins": ["prettier"],
  "rules": {
    "tailwindcss/classnames-order": "error",
    "prettier/prettier": "error"
  }
}
