@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-underline {
  position: relative;
  display: inline-flex;
  align-items: center;
  color: inherit;
  text-decoration: none;
}
.hover-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 5px;
  height: 2px;
  background-color: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  border-radius: 50px;
}

.hover-underline:hover::after {
  transform: scaleX(1);
}
.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 32px;
}

.wave .shape-fill {
  fill: #c7d2fe;
}
